# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
info.txt
public/images/New folder/pants1x.jpg
public/images/New folder/pants2x.jpg
public/images/New folder/pants3x.jpg
public/images/New folder/shirt1x.jpg
public/images/New folder/shirt2x.jpg
public/images/New folder/shirt3x.jpg

*.md
*.txt
docker-compose.yml
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
cypress
.git
.vscode
*/temp
**/test/
*.md
docker-compose.yml
Dockerfile
.github
